/* background: linear-gradient(0deg, rgb(7, 22, 38) 20%, rgb(3, 5, 22) 69%);
} */

.scale {
  padding: 4rem 0;
  background: linear-gradient(0deg, rgb(7, 22, 38) 20%, rgb(3, 5, 22) 69%);
}

.scale__header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.scale__header-text h2 {
  width: 85%;
}
@media (min-width: 1024px) {
  .scale__header-text h2 {
    width: 45%;
    margin: auto;
  }
}
.scale__header-text h2 {
  font-size: clamp(2rem, 1.5vw, 3rem);
  text-align: center;
}

