.hero {
  background-image: url("../../../assets/illustrations/header-background.svg");
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  place-content: center;
  place-items: center;
  position: relative;
  margin-top: 6.5rem;
  /* height: 600px; */
  /* border: 1px solid red; */
}

.hero .wrapper {
  padding: 2rem 2.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  margin-bottom: 2rem;
}

.hero .wrapper p,
.hero h1,
.hero h2 {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 2s forwards;
  overflow: hidden; /* Hide overflowing text during animation */
  white-space: normal; /* Allow text to wrap */
}

.hero h1 span,
.hero h2 span {
  color: #3498db; /* Change color for emphasis */
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}


@media (min-width: 900px) {
  .hero .wrapper .content-wrapper {
    max-width: 64%;
  }
}

@media (max-width: 768px) {
  .hero {
    background-size: cover;
  }
  .hero .wrapper {
    padding: 2rem 1rem;
  }
}

.hero .wrapper p {
  font-size: clamp(1rem, 1.25vw, 3rem);
  margin: 1.5rem 0;
}

.hero h2 {
  text-align: center;
}
