.discover {
  /* border: 1px solid red; */
  margin: 4rem 0;
}

.discover .wrappper {
  margin-inline: auto;
  width: 90%;
}

.discover .wrappper h2 {
  text-align: center;
  margin: 2rem 0;
}
@media (min-width: 900px) {
  .discover .wrappper h2 {
    width: 55%;
    margin: 0 auto;
  }
}

@media (min-width: 700px) {
  .discover .wrappper {
    width: 85%;
  }
}

.startUp-logo-container {
  border: 1px solid var(--accent);
  margin: 1.5rem 0;
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* gap: 0.7rem; */
  overflow: hidden;
}

.startUp-logo-container .icon-container {
  padding: 0.9rem 0;
  flex: 1;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  /* border: 1px solid red; */
  transition: background-color 0.5s ease-in-out;
}

@media (min-width: 572px) {
  .startUp-logo-container .icon-container img {
    height: 27px;
  }
}

.startUp-logo-container .icon-container.active {
  background-color: var(--secondary-background);
}

.startUp-logo-container div:first-child {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 0.5rem;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
}

.startUp-logo-container div:last-child {
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
}

.founder__testimony {
  position: relative;
}

.founder-testimony-container {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  max-width: 600px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
  gap: 1rem;
  padding: 1.5rem;
  background-color: var(--secondary-background);
}

@media (max-width:768px) {
  .founder-testimony-container{
    flex-wrap: wrap;
  }
}
.founder-testimony-container.hidden {
  transform: translateY(2px);
  opacity: 0;
  pointer-events: none;
}

.active-container {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.founder-testimony-container .__image {
  width: 100%;
}

.founder-testimony-container .__image img{
  object-fit: cover;
  width: 100%;
}

.founder-testimony-container .testimony {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  flex-direction: column;
}

.founder-testimony-container .testimony p {
  color: #fff;
  margin: 2rem 0;
  /* margin: auto; */
}

@media (max-width: 768px) {
  .founder-testimony-container {
    max-width: 450px; /* Reduce width for smaller screens */
    padding: 10px; /* Adjust padding for compact design */
  }

  .startUp-logo-container {
    /* padding: 0 10px; Add padding to make the tabs more accessible */
  }
}